body {
  padding: 0;
  margin: 0;
}

.table {
  background-color: rgba(53, 210, 245, 0.09);
}
.menu{
}
footer {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, .1);
}

footer p {
  line-height: 30px;
  margin: 0;
  padding: 0;
}

a:active,
a:focus,
a:hover,
a:link {
  color: #333;
  text-decoration: none;
}

.absolute {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.relative {
  width: 100%;
  position: relative;
  bottom: 0;
}

/*推拉 div 写法*/
html,
body {
  height: 100%;
}

.wrapper-push {
  min-height: calc(100% - 34px);
  height: auto !important;
  height: calc(100% - 34px);
  margin: 0  auto -58px;
  /* 58px为 footer 高度,34px menu 高度 */
}

.placeholder-push {
  height: 58px;
}

/*flex 写法*/
.body-flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper-flex {
  flex: 1;
}

/*grid 写法*/
.body-grid{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}